{% extends "base.html" %}
{% block title %}Recuperar Senha - MainDug{% endblock %}

{% block content %}
<div id="page-forgotPassword" class="auth-container">
    <div class="text-center mb-4">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" style="height: 2.7rem; width: auto;">
    </div>
    <h2 class="text-center mb-4">Recuperar Senha</h2>
    <p class="text-center text-secondary mb-4">Insira seu login ou email para receber as instruções de recuperação.</p>
    
    <form action="{{ url_for('forgotPassword') }}" method="POST" autocomplete="off">
        <div class="mb-4">
            <label for="forgot-login" class="form-label">Login ou Email</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                <input type="text" class="form-control" id="forgot-login" name="login" placeholder="Seu Login ou Email" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-3 py-3">Enviar Instruções</button>
        
        <div class="text-center mt-4">
            <a href="{{ url_for('login') }}" class="btn btn-link px-0"><i class="bi bi-arrow-left"></i> Voltar ao Login</a>
        </div>
    </form>
</div>
{% endblock %}