{% extends 'gerent/base.html' %}

{% block body %}
    {{ super() }}
    <div class="container my-5">
        <h2 class="text-center mb-4 text-primary fw-bold">Adicionar Usuário</h2>
    
        <!-- Formulário de adição -->
        <form action="{{ url_for('add_user') }}" method="POST" class="shadow-lg p-4 rounded bg-white border border-light">
            <div class="form-group mb-4">
                <label for="login" class="form-label fw-semibold">Login</label>
                <input type="text" class="form-control form-control-lg" id="login" name="login" required>
            </div>
            
            <!-- Exibição de mensagens -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-success fw-semibold text-center">
                        {% for message in messages %}
                            <p class="mb-0">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <!-- Botões de ação -->
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary btn-lg px-4">Adicionar Usuário</button>
                <a href="{{ url_for('login') }}" class="btn btn-outline-secondary btn-lg px-4">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block style %}
    {{ super() }}
    <style>
        .custom-checkbox {
            accent-color: gray; /* Define a cor cinza para o checkbox */
        }
        
        /* Opcional: Personalização adicional ao passar o mouse */
        .custom-checkbox:hover {
            filter: brightness(90%);
        }

    </style>
{% endblock %}