<div class="modal fade" id="addPasswordModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar Nova Credencial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" method="POST">
                    <div class="mb-3">
                        <label for="add-site" class="form-label">Site/Serviço</label>
                        <input type="text" class="form-control" id="add-site" name="login" required>
                    </div>
                    <div class="mb-3">
                        <label for="add-username" class="form-label">Usuário (do site)</label>
                        <input type="text" class="form-control" id="add-username" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="add-password" class="form-label">Senha (do site)</label>
                        <div class="password-wrapper">
                            <input type="password" class="form-control" id="add-password" name="password" required>
                            <button type="button" class="toggle-password" data-target="add-password">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="add-flags" class="form-label">Flags (separadas por vírgula)</label>
                        <input type="text" class="form-control" id="add-flags" name="flags" placeholder="Ex: trabalho, social, jogos">
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-3 py-3">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>
