<div class="modal fade" id="manageFlagsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gerenciar Flags</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-secondary">Adicione ou remova flags que aparecerão no filtro.</p>
                <ul class="list-group mb-3" id="flag-management-list">
                    </ul>
                <form id="addFlagForm" class="input-group">
                    <input type="text" class="form-control" id="newFlagInput" placeholder="Nome da nova flag" required>
                    <button class="btn btn-outline-primary" type="submit">Adicionar</button>
                </form>
            </div>
        </div>
    </div>
</div>
