<div class="password-input form-input">
    <label for="{{ placeholder }}">{{ placeholder.capitalize() }} {% if required %}<span class="text-danger">*</span>{% endif %}</label>
    <div class="password-wrapper">
        <input type="password" name="{{ to }}" id="{{ to }}" {% if autocomplete %} autocomplete="{{ autocomplete }}" {% endif %} placeholder="{{ placeholder }}" {% if required %} required {% endif %}>
        <div class="toggle-password" onclick="togglePassword('{{ placeholder }}', '{{ placeholder }}-icon')">
            <span id="{{ placeholder }}-icon">
                <i class="bi bi-eye"></i>
            </span>
        </div>
    </div>
</div>