{% set options = button_options | default({}) %}

<div class="button-wrapper">
    <div class="tooltip-animated tooltip-basic tooltip-{{ options.type | default('primary') }} button-container">
        <button type="button" 
                class="{{ options.type | default('primary') }}-btn {{ options.class | default('btn-sm me-1') }}"
                
                {# Ação normal #}
                {% if options.action_url %}
                data-action-url="{{ options.action_url }}"
                data-action-method="{{ options.method | default('POST') }}"
                {% if options.confirm %}data-action-confirm="true"{% endif %}
                {% if options.confirm_message %}data-action-message="{{ options.confirm_message }}"{% endif %}
                {% if options.confirm_title %}data-action-title="{{ options.confirm_title }}"{% endif %}
                {% if options.reload %}data-action-reload="true"{% endif %}
                {% if options.redirect %}data-action-redirect="{{ options.redirect }}"{% endif %}
                
                {# Exclusão #}
                {% elif options.delete_url %}
                data-delete-url="{{ options.delete_url }}"
                {% if options.delete_message %}data-delete-message="{{ options.delete_message }}"{% endif %}
                {% if options.delete_title %}data-delete-title="{{ options.delete_title }}"{% endif %}
                
                {# Toggle #}
                {% elif options.toggle_url %}
                data-toggle-url="{{ options.toggle_url }}"
                {% if options.toggle_message %}data-toggle-message="{{ options.toggle_message }}"{% endif %}
                {% if options.toggle_title %}data-toggle-title="{{ options.toggle_title }}"{% endif %}
                
                {# Cópia #}
                {% elif options.copy_text %}
                data-copy-text="{{ options.copy_text }}"
                
                {# Download #}
                {% elif options.download_url %}
                data-download-url="{{ options.download_url }}"
                {% if options.download_filename %}data-download-filename="{{ options.download_filename }}"{% endif %}
                
                {% endif %}>
                
            {# Ícone #}
            {% if options.icon %}
            <i class="icon {{ options.icon }}" style="font-size: 18px;"></i>
            {% endif %}
            
            {# Texto #}
            {% if options.text %}{{ options.text }}{% endif %}
            
            {# Tooltip #}
            {% if options.tooltip %}
            <span class="tooltip-text tooltip-{{ options.orientation | default('top') }}">{{ options.tooltip }}</span>
            {% endif %}
        </button>
    </div>
</div>