<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" onclick="showPage('page-index'); return false;">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
            MainDug
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <div class="navbar-toggler-icon">
            </div>
        </button>
        
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MainDug Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item" id="nav-guest-login">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item" id="nav-guest-register">
                        <a class="nav-link" href="/signup">Registrar</a>
                    </li>
                    
                    <li class="nav-item" id="nav-user-dashboard">
                        <a class="nav-link" href="/dashboard" ><i class="bi bi-house-door-fill"></i> Dashboard</a>
                    </li>
                    <li class="nav-item" id="nav-user-stats">
                        <a class="nav-link" href="/stats" ><i class="bi bi-bar-chart-line-fill"></i> Estatísticas</a>
                    </li>
                    
                    <li class="nav-item" id="nav-user-account"> 
                            <a class="nav-link" href="/account"><i class="bi bi-person-circle"></i> Minha Conta (<span id="nav-username">Usuário</span>)</a>
                    </li>
                    
                    <li class="nav-item"> 
                        <a href="#" class="nav-link" id="theme-switcher" title="Mudar tema">
                            <i class="bi bi-sun-fill"></i> <span id="theme-switcher-text">Mudar Tema</span>
                        </a>
                    </li>

                    <li class="nav-item" id="nav-user-separator"><hr></li>
                    
                    <li class="nav-item" id="nav-user-logout"> 
                        <a class="nav-link" href="/logout"></a><i class="bi bi-box-arrow-right"></i> Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>