{% extends "user/base.html" %}

{% block head %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block body %}
    {{ super() }}
    <div id="statistics">
        <div id="pizza">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Senhas vazadas vs Não vazadas</h4>
                </div>
            </div>
            <div>
                <div>
                    <canvas class="border-10px mx-2" id="passwordsPieChart" ></canvas>
                </div>
            </div>
        </div>
        <div id="board">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Senhas mais usadas</h4>
                </div>
            </div>
            <table class="table table-bordered table-striped text-center">
                <thead>
                    <tr>
                        <th>Senha</th>
                        <th>Vezes Usadas</th>
                    </tr>
                </thead>
                {% for password in mostUsedPasswords %}
                    <tr>
                        <td>{{ password[0]['password'] }}</td>
                        <td>{{ password[1] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div id="table">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th><button id="sortBtn" onclick="sortTable('site')">Site</button></th>
                    <th><button id="sortBtn" onclick="sortTable('login')">login</button></th>
                    <th>Mudar senha</th>
                </tr>
            </thead>
            <tbody>
                {% for leakedPassword in leakedPasswords %}
                    <tr>
                        <td>{{ leakedPassword['site'] }}</td>
                        <td>{{ leakedPassword['login'] }}</td>
                        <td>
                            <button class="btn btn-warning btn-sm" onclick="window.location.href='{{ url_for('pass_info', credId=leakedPassword.id) }}'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function sortTable(column) {
            // Obtém os dados dos usuários do JSON
            let passwords = JSON.parse('{{ leakedPasswords|tojson }}');

            // Ordena os dados com base na coluna especificada
            passwords.sort((a, b) => {
                return a[column].localeCompare(b[column]); // Para strings, ordena alfabeticamente
            });

            // Seleciona o corpo da tabela
            const tbody = document.querySelector("table tbody");

            // Limpa o corpo da tabela
            tbody.innerHTML = "";

            // Renderiza os dados ordenados na tabela
            passwords.forEach(password => {
                const tr = document.createElement("tr");

                // Login
                tr.innerHTML += `<td>${password['site']}</td>`;

                // Enabled
                tr.innerHTML += `<td>${password['login']}</td>`;

                // Editar botões
                tr.innerHTML += `
                    <td>
                        <button class="btn btn-warning btn-sm" onclick="window.location.href='/edit_password/${password['id']}'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </button>
                    </td>
                `;

                tbody.appendChild(tr);
            });
        }

        function graph(datasets, elementId, type, labels, title) {    
            const ctx = document.getElementById(elementId).getContext('2d');
            new Chart(ctx, {
                type: type,
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: title
                        }
                    }
                }
            });
        }
        numLeakedPasswords = '{{ leakedPasswords|length }}';
        numGoodPasswords = '{{ goodPasswords|length }}';

        // Dados para o gráfico de pizza
        graph(
            [{
                label: 'Passwords',
                data: ['{{ numLeakdPasswords }}', '{{ numGoodPasswords }}'],
                backgroundColor: ['#28a745', '#dc3545']
            }],
            'passwordsPieChart', 
            'pie', 
            ['Vazados', 'Não vazados'],
            'Distribuição de Passwords / Vazados vs Não Vazados'
        );
    </script>
{% endblock %}